<h1>It's <%= @player_1.name %> vs. <%= @player_2.name %>!!!! </h1>

<p><%= attack_confirmation %></p>

<p><%= @player_1.name %>'s HP: <%= @player_1.hp %> >==============================< <%= @player_2.name %>'s HP: <%= @player_2.hp %></p>

<form action="/attacked" method="post">
  <input type="submit" name="attack" value="Attack" >
</form>
