It's <%= @player_1_name %> vs. <%= @player_2_name %>!!!!
<%= attack_confirmation %>
<%= @player_1_name %>'s HP: <%= player_1_hp %>  <%= @player_2_name %>'s HP: <%= player_2_hp %>
<form action="/attacked" method="post">
  <input type="submit" name="attack" value="Attack" >
</form>
