<!DOCTYPE html>
<html>
<head>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<h1>It's <%= @player_1.name %> vs. <%= @player_2.name %>!!!! </h1>

<p><%= @attack_confirmation %></p>

<p><%= @turn %></p>

<section class="container1">
  <div class="one">
    <img src="http://www.designmarkgraphics.co.uk/blog/images/2013/06/design-shiny-bomb-inkscape/40.jpg">
  </div>

  <div class="two">
    <img src="http://www.designmarkgraphics.co.uk/blog/images/2013/06/design-shiny-bomb-inkscape/40.jpg">
  </div>
  </section>


  <section class="container2">
    <div class="one2">
      <p><%= @player_1.name %>'s HP: <%= @player_1.hp %></p>
    </div>

    <div class="two2">
      <p><%= @player_2.name %>'s HP: <%= @player_2.hp %></p>
    </div>
  </section>

  <div>
    <form action="/attacked" method="post">
      <input type="submit" name="attack" value="Attack" >
    </form>
  </div>


</body>

</html>
